* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    width: 100%;
}

header > img {
    width: 50px;
}

header > h1 {
    font-weight: 400;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: 600;
}

main {
     margin-bottom: 24px;
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}
main:focus {
    outline: none;
    border-color: #A78BFA;
    box-shadow: 0 0 0 2px rgba(167, 139, 250, 0.2);
}

.manga-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.manga-form > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}


.manga-form > button:disabled {
  color: #6B7280;
  cursor: not-allowed;
}


.add-manga-form > button {
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}

.add-manga-form > button:disabled {
  background-color: #D1D5DB;
}

.add-manga-form > button::before {
  content: "+";
  margin-right: 5px;
}


.exclude-manga-form {
  flex-direction: row-reverse; 
}

.exclude-manga-form > button {
  border-radius: 6px;
  border: none;
  background-color: #c62828;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}

.exclude-manga-form > button:disabled {
  background-color: #ef9a9a;
}

.exclude-manga-form > button::before {
  content: "-";
  margin-right: 5px;
}

.add-manga-form > button, .exclude-manga-form > button {
    transition: background-color 0.2s ease;
}

.add-manga-form > button:hover:not(:disabled)
 {
    background-color: #333; 
}

.exclude-manga-form > button:hover:not(:disabled) {
    background-color: #b71c1c; 
}

.only-completed-checkbox label {
  display: flex;
  flex-direction: row-reverse; 
  justify-content: center;     
  align-items: center;         
  gap: 0.5rem;
  margin-top: 20px;
}

.only-completed-checkbox input[type="checkbox"] {
  accent-color: black;
} 

.manga-length-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.manga-length-container select {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}


ol.mangainputs-list {
    margin-bottom: 48px;
    list-style-position: inside; 
    text-align: center; 
}

ol.mangainputs-list > li {
    padding: 12px 16px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #E5E7EB;
    margin-bottom: 16px;
}

.get-recommendations-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: #f3f4f6;
    margin-bottom: 24px;

}

.get-recommendations-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recommendations-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.get-recommendations-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
}

.suggested-recommendations-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recommendations-container ul li, .suggested-recommendations-container ol li {
    margin-bottom: 8px;
    padding-left: 40px; 
    list-style-position: outside; 
    text-align: left; 
}